*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(196, 194, 194);
   
}
#container{
    margin: 0 50px;
  
}
.header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a{
    font-family: phetsarath ot;
    color: red;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-decoration: none;
}
.main-content{
   
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.content-1{
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.content-1 h2 {
    margin-bottom: 1.5rem;
}
.content-1 a{
    
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: black;
}

.content-img img{
    border-radius: 50px;
    width: 360px;
    justify-content: flex-end;
    align-items: end;
}
.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    text-align: center;
}
.content-item img{
    border-radius: 10px;    
}
.content-item h3{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
.content-title{
    text-align: center;
    padding-bottom: 10px;
    font-size: larger;
    color: rgb(0, 0, 0);
}
.content{
    padding: 2rem;
    
}
.content-1 img{
    width: 10rem;
}
.foot-con{
    margin-top: 2rem;
    text-align: center;
    background-color: #bebebe;
    padding: 2rem;
}
.footer{
    background-color: #bebebe;
    padding: 1rem; 
    text-align: center;
}
.foot-btn{
    font-size: 2.5rem;
}
.foot-btn a{
    color: black;
}
.data:hover{
    background-color: darkolivegreen;
}
.data:focus{
    background-color: darkred;
}
#image{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
#image img{
    border-radius: 10px;
}
